.nav-menu-wrapper {
    background-color: #2e9ff3;
    margin-bottom: 3em;
    white-space: nowrap;
    position: relative;
}

.nav-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.nav-menu .menu-link,
.nav-menu .menu-heading {
    color: white;
}

.nav-menu .menu-link:hover,
.nav-menu .menu-heading:hover {
    background-color: transparent;
}

.nav-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.nav-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.nav-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.nav-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.nav-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-menu-screen {
    background-color: #2e9ff3;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 64em;
    position: absolute;
    top: 0;
    z-index: -1;
}

.nav-menu-tucked .nav-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

@media (max-width: 64em) {

    .nav-menu {
        display: block;
    }

    .nav-menu-toggle {
        display: block;
        display: none\9;
    }

    .nav-menu-bottom {
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    .nav-menu-bottom .menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .nav-menu-bottom.nav-menu-tucked .menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .menu-horizontal.nav-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }

}